@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #7eb3fc;
    width: 570px;
    height: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

header{
    width: 400px;
    height: 120px;
    margin-top: 100px;
}

.logo{
    width: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 110px;
}

.up{
    width: 350px;
}

h3{
    position: fixed;
    left: 3.7%;
    top: 96%;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
}

.botao{
    border: none;
    border-radius: 50px;
    font-size: 35px;
    height: 35px;
    align-items: center;
    display: flex;
    color: white;
    background-color: #19375f;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    position: relative;
    top: 20%;
    left: -20%;
}

.botao:hover{
    color: white;
    transform: scale(1.2)
}